/garbage/
*.pdf
*.class
tarea1_pap/.settings/
tarea2_pap/.settings/
tarea2_pap/target/
tarea3_pap/.settings/
tarea3_pap/target/
tarea3_pap/tarea1PublishWS/target/
tarea3_pap/tarea1PublishWS/.settings/